body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 200px;
    background-color:#FFDAB9;
    display: flex;
     flex-direction: column; 
     align-items: center;
     justify-content: center;
     height: 100vh;
}

.container {
 text-align: center;
}
#video { 
width: 30%;
 height: auto;
 border:10px solid #333;
 border-radius: 20px;
 } 

#capture {
 margin-top: 20px; 
padding: 10px 10px;
 background-color: #36454F;
 color: #ffffff;
 border: none;
 border-radius:10px;
 cursor: pointer;
 }

 #canvas {
 margin-top: 10px;
 display: none;
 }

h1 {
    padding: 20px;
 background-color:  #36454F; 
color: #fff;
 text-align: center;
 border-radius: 15px;
 box-shadow: 0 20px 10px rgba(0, 0, 0, 0.2);
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #DCDCDC;
    border-radius: 15px;
    box-shadow: 0 20px 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
}

input, button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #E6E6FA;
    border-radius: 4px;
}

button:hover {
      background-color: #0056b3;
    }

#result {
    max-width: 200px;
    margin: 20px auto;
    padding: 20px;
    background-color:#DCDCDC;
    border-radius: 15px;
    box-shadow: 0 50 50px rgba(0, 0, 0, 0.1);
}
   .result span {
      font-weight: bold;
      color: red;
    }
   
   